*{
    margin: 0px auto;
    padding: 0px;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.wrapper{
    width: 80%;
    text-align: center;
    margin: 0px auto;
}

img{
    width: 10em;
    height: 10em;
}